* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans' , sans-serif;
}

img {
    width: 100%;
    height: 200px;
}

#app{
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-content {
    flex-grow: 1;
    padding: 30px;
}

.container {
    width: 100%;
    height: 100%;
    padding: 80px;
}

.image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.image-container {
    width: 300px;
    height: 200px;
    position: relative;
    padding: 2px;
}
 


.user-phone {
    background-color: black;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 25px;
    padding: 5px;
}






/* DEBUG */

.debug .app-content,
.debug .app-toolbar {
    border: 2px solid white;
    padding: 20px;
    
}

.debug .container {
    border: 2px solid aqua;
    padding: 10px;
}

.debug .col{
    border: 2px solid pink;
    padding: 10px;
}