* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans' , sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

#app{
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.image {
    width: 100%;
    display: inline-block;
}

.col {
    flex-basis: calc(100% / 7);
}









/* DEBUG */

.debug .app-content,
.debug .app-toolbar {
    border: 2px solid white;
    padding: 20px;
    
}

.debug .container {
    border: 2px solid aqua;
    padding: 10px;
}

.debug .col{
    border: 2px solid pink;
    padding: 10px;
}