* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans' , sans-serif;
}

#app{
    background-color: black;
    height: 100vh;
    color: white;
}












/* DEBUG */

.debug .app-content,
.debug .app-toolbar {
    border: 2px solid white;
    padding: 20px;
    
}

.debug .container {
    border: 2px solid aqua;
    padding: 10px;
}

.debug .row{
    border: 2px solid pink;
    padding: 10px;
}